.shop-category-banner {
    display: block;
    margin: 30px 100px;
    width: 82%;
}

.shop-category-indexSort {
    display: flex;
    margin: 0px 170px;
    justify-content: space-between;
    align-items: center;
}

.shop-category-sort {
    padding: 10px;
    border-radius: 40px;
    border: 1px solid #888;
}

.shop-category-indexSort p span {
    font-weight: 600;
}

.shop-category-products {
    margin: 20px 100px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
    gap: 30px;
}